@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
h4,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", 'YuMincho', "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
        "MS 明朝", serif;
    font-feature-settings: "palt";
    background-color: #E8D9BF;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す アクションんは0.3秒で動く*/
    color: inherit;
    transition: 0.3s;
}

/*ボタンにマウスを置くとちょっと変化する 今回は半透明になる変化*/
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}



/*ヘッダー*/
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 6.57% 0px 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.logo{
    width: 226px;
    background-color: transparent;
}

.pc_nav ul{
    display: flex;
    background-color: transparent;
}
.pc_nav li{
    font-size:  18px;
    line-height: 1.222;
    color: white;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    text-align: center;
    width: 104px;
    margin-right: 10px;
    font-weight: bold;
    background-color: transparent;
}

.pc_nav li:last-child{
    margin-right: 0;
}

.pc_nav a {
    display: block;
}
.slider img{
    width: 100%;
}

/*メイン*/
.main_top{
    text-align: center;
    margin: 0 auto;
    font-family: "游明朝体","YuMincho","Yu Mincho","YuMincho Medium","Yu MinchoMedium",serif;
}

.main_top h2 {
    font-size: 30px;
    font-weight: normal;
    padding: 108px 0 65px;
}

.main_top h3 {
    font-size: 82px;
    font-weight: normal;
    line-height: 1.17;
}

.main_top h4 {
    font-size: 23px;
    font-weight: normal;
    line-height: 1.65;
    padding: 45.5px 0 94.5px;
    margin-top: 0px;
    margin-bottom: 0px;

}

/*ABOUT US*/
.about_us_section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: 0 10px 0;
}

.about_us_img{
    width: 50%;
}

.about_us_img img{
    border-bottom-right-radius: 60px;

}

.about_us{
    width: 41%;
}

.about_us img{
    width: 272px;
}

.about_us h2{
    font-size: 44px;
    line-height: 1.38;
    padding: 60px 0 40px;
}
.about_us p{
    font-size: 16px;
    line-height: 1.625;

}

/*MENU*/

.menu_section{
    width: 100%;
    margin-top: 108px;
    margin: 0 10px 0;
}

.menu_img {
    width: 151px;
    display: block;
    margin: 0 auto;
    padding-bottom: 45px;
}

.menu_wrap img {
    border-top-right-radius: 40px;
}

.menu_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.menu_content {
    width: 300px;
}

.menu_wrap h2{
    font-size: 38px;
    font-weight: normal;
    color: #D30202;
    margin: -13px 0 30px 15px;
}

.menu_wrap p{
    font-size: 17px;
    line-height: 1.47;
}

/*GALLERY*/

.gallery_section {
    width: 100%;
    margin-top: 100px;
}

.gallery_img {
    display: block;
    margin: 0 auto;
    width: 245px;
    padding-bottom: 26px;
}

.gallery_wrap {
    display: flex;
}

/*EVENT*/

.event_section {
    margin-top: 71px;
    width: 100%;
    margin: 0 10px 0;
}

.event_img {
    display: block;
    margin: 0 auto;
    width: 173px;
    padding-bottom: 40px;
}

dl {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: solid 3.5px;
    border-color: #4f260b;
    padding: 40px 0 40px 16%;
}

dt {
    width: 20%;
    background-color: white;
    font-size: 23px;
    line-height: 1.95;
}

dd {
    width: 80%;
    background-color: white;
    text-align: left;
    
}

dd a{
    border-bottom: solid 1px;
    border-color: #4f260b;
    font-size: 23px;
    line-height: 1.95;
}

/*ACCESS*/
.access_section {
    display: block;
    max-width: 100%;
    margin-top: 80px;
}

.access_img {
    margin: 0 auto;
    max-width: 1000px;
    width: 213px;
    padding-bottom: 47px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 471px;
}

/*フッター*/
footer {
    background-color: white;
    padding: 84px 0 80px ;
}

.footer_address{
    display: block;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    
}

.footer_img {
    width: 226px;
    background-color: white;
    text-align: left;
}



.footer_address ul li{
    padding-left: 70px;
    background-color: white;
    font-size: 20px;
    line-height: 1.95;
}

.copyright {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 82px;
}

.copyright {
    background-color: white;
    font-size: 16px; 
}

.toTOP {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}