@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
h4,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", 'YuMincho', "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
    "MS 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す アクションんは0.3秒で動く*/
    color: inherit;
    transition: 0.3s;
}

/*ボタンにマウスを置くとちょっと変化する 今回は半透明になる変化*/
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/*サイト全体*/
body{
    background-color: #E8D9BF;
}

/*ヘッダー*/
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 6.57% 0px 2.51%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

.logo{
    width: 226px;
    background-color: transparent;
}

.pc_nav ul{
    display: flex;
    background-color: transparent;
}

.pc_nav li{
    font-size:  18px;
    line-height: 1.222;
    color: white;
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    text-align: center;
    width: 104px;
    margin-right: 10px;
    font-weight: bold;
    background-color: transparent;
}

.pc_nav li:last-child{
    margin-right: 0;
}

.pc_nav a {
    display: block;
}
.slider img{
    width: 100%;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li.slick-active button:before{
    color: #fff;
}
.slick-dots li button:before{
    color: #fff;
}

/*メイン*/

.main_top{
    text-align: center;
    font-family: "游明朝体","YuMincho","Yu Mincho","YuMincho Medium","Yu MinchoMedium",serif;
    margin-top: 108px;
}

.top_p1 {
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 65px;
}

.main_top h2 {
    font-size: 82px;
    font-weight: normal;
    line-height: 1.17;
    padding-bottom: 60px;
}

/*スマホ用を隠す*/
.top_p2_sp{
    display: none;
}

.top_p2{
    font-size: 23px;
    font-weight: normal;
    line-height: 1.65;
}

/*ABOUT US*/
/*pc用*/
#about_us_section {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 102px auto 0;
    align-items: center;
    padding: 0 10px 0;
}

.about_us_img{
    width: 50%;
}

.about_us_img img{
    border-bottom-right-radius: 60px;
}

.about_us{
    width: 41%;
}

.about_uscontents {
    width: 272px;
}

.about_us h3 {
    font-size: 44px;
    line-height: 1.38;
    padding: 60px 0 40px;
    font-weight: normal;
}

.about_us p{
    font-size: 16px;
    line-height: 1.625;

}

/*sp隠す*/
#aboutus_sp{
    display: none;
}

/*MENU*/

#menu_section{
    margin-top: 102px;
    padding: 0 10px 0;
}

.menu_img {
    width: 151px;
    display: block;
    margin: 0 auto;
    padding-bottom: 45px;
}

.menu_wrap img {
    border-top-right-radius: 40px;
}

.menu_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.menu img{
    max-width: 1000px;
}

.menu_content{
    width: 300px;
}
.menu_wrap h3 {
    font-size: 38px;
    font-weight: normal;
    color: #D30202;
    margin: -13px 0 30px 15px;
}

.menu_wrap p{
    font-size: 17px;
    line-height: 1.47;
    
}

/*GALLERY*/
#gallery_section{
    margin-top: 100px;
}

.gallery_img {
    display: block;
    margin: 0 auto;
    width: 245px;
    padding-bottom: 26px;
}

.gallery_wrap {
    width: 100%;
    margin: 0 auto;
}

.gallery_wrap img{
    width: 100%;
    height: auto;
}

.lb-data .lb-number {
    display: none !important;
}

.slick-prev {
    left: 300px;
    z-index: 100;
}

.slick-next {
    right: 300px;
}

/*EVENT*/

#event_section {
    margin-top: 71px;
    padding: 0 10px 0;
}

.event_img {
    display: block;
    margin: 0 auto;
    width: 173px;
    padding-bottom: 40px;
}

.eventbox {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: solid 3.5px;
    border-color: #4f260b;
    padding: 40px 0;
    box-sizing: border-box;
}

.eventbox ul {
    max-width: 730px;
    margin: 0 auto;
    background-color: white;    
}

.eventbox li {
    display: flex;
    font-size: 23px;
    line-height: 1.95;
}

.day {
    margin-right: 50px;
}

.eventbox li a{
    text-decoration: underline;
}

/*ACCESS*/
#access_section {
    display: block;
    max-width: 100%;
    margin-top: 80px;
}

.access_img {
    margin: 0 auto;
    max-width: 1000px;
    width: 213px;
    padding-bottom: 47px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 471px;
}

/*フッター*/
footer {
    background-color: white;
    padding: 84px 10px 80px 10px;
}

.footer_address{
    display: block;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    
}

.footer_img {
    width: 226px;
    background-color: white;
    text-align: left;
}



.footer_address ul li{
    padding-left: 70px;
    background-color: white;
    font-size: 20px;
    line-height: 1.95;
}

.copyright {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 82px;
}

.copyright {
    background-color: white;
    font-size: 16px; 
}

.toTOP {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

/*スマホ用メニューをPCでは消す*/
.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

@media screen and (max-width:1100px){
    .pc_nav{
        display: none;
    }

    .sp_btn{
        display: block;
        position: absolute;
        right: 20px;
        top:  15px;
        height: 30px;
        z-index: 100;
    }
    .sp_btn span {
        background: #fff;
        display: block;
        width: 33px;
        height: 3px;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: '';
        background: #fff;
        display: block;
        width: 33px;
        height: 3px;
        position: absolute;
        transition: 0.3s;
    
    }

.sp_btn span::before{
    bottom: 12px;
} 
.sp_btn span::after{
    top: 12px;
}

/*openした時*/
.open span {
    background: transparent;
}

.open span::before{
    bottom: 0px;
    transform: rotate(45deg);
} 
.open span::after{
    top: 0px;
    transform: rotate(135deg);
}


.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);

}
.sp_nav ul{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;

}

.sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 20px;
    font-family:"A1 Mincho", "游明朝", 'YuMincho', "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "MS Ｐ明朝",
    "MS 明朝", serif; 
    text-align: center;

}

.top_p1 {
    font-size: 2.3vw;
}

.main_top h2 {
    font-size: 7vw;
}

.top_p2{
    font-size: 1.8vw;
}
}

@media screen and (max-width:767px){

.logo{
        width: 187px;
        background-color: transparent;
}
/*スマホ用メイン*/
/*pc用を隠す*/
.top_p2{
    display: none;
}
/*スマホ用に書き換える*/
.main_top{
        text-align: center;
        font-family: "游明朝体","YuMincho","Yu Mincho","YuMincho Medium","Yu MinchoMedium",serif;
        margin-top: 41px;
    }
    
.top_p1 {
        font-size: 17px;
        font-weight: normal;
        padding-bottom: 32px;
}
    
.main_top h2 {
        font-size: 38px;
        font-weight: normal;
        line-height: 1.15;
        padding-bottom: 28px;
}
    
.top_p2{
        font-size: 16px;
        font-weight: normal;
        line-height: 1.3;
}

.top_p2_sp{
    display: block;
    line-height: 1.75;
}


/*aboutus スマホ用*/
#aboutus_sp {
    display: block;
    margin-top: 32px;
}

.about_us_img{
    width: 160px;
}

#aboutus_sp h2{
    margin: 0 auto;
    padding-bottom: 20px;
}

#aboutus_sp h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.25;
    padding:32px 0 34px 20px;
}

#aboutus_sp p{
    font-size: 16px;
    line-height: 1.75;
    font-weight: normal;
    padding: 0 20px;
}

/*pc隠す*/
#about_us_section {
        display: none;
}

/*sp用MENU*/

#menu_section{
    margin-top: 56px;
    padding: 0 35px;
}

.menu_img{
    width: 87px;
    padding-bottom: 23px;
}


.menu_wrap {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.menu img{
    width: 100%;
}

.menu_content{
    width: 100%;
}

.menu_wrap h3 {
    font-size: 40px;
    text-align:left ;
}

.menu_wrap p{
    font-size: 17px;
    line-height: 1.58;
    padding-bottom: 60px;
}

/*gallery sp用*/
#gallery_section{
    margin-top: 35px;
}

.gallery_img {
    width: 142px;
    padding-bottom: 26px;
}

.gallery_wrap {
    width: 100%;
    margin: 0 auto;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

/*EVENT sp用*/

#event_section {
    margin-top: 35px;
    padding: 0 20px 0;
}

.event_img {
    display: block;
    width: 100px;
    padding-bottom: 31px;
}

.eventbox {
    margin: 0 auto;
    padding: 23px 28px;
}


.eventbox li{
    max-width: 270px;
    display: block;
    text-align: left;
    font-size: 16px;
}

.text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


/*ACCESS*/
#access_section {
    display: block;
    margin-top: 30px;
}

.access_img {
    width: 124px;
    padding-bottom: 11px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 191px;
}

/*フッターsp用*/
footer {
    padding: 49px 0 34px 20px;
}

.footer_address{
    display: block;    
}

.footer_img {
    width: 226px;
}

.footer_address ul{
    padding-top: 33px;
}

.footer_address ul li{
    font-size: 18px;
    line-height: 1.72;
    padding: 0}

.copyright {
    padding-top: 49px;
}

.toTOP {
    width: 100px;
    
}


}