@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}


ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    max-width:960px;
}

li {
    padding: 0 30px;
    border-right: 1px solid black;
}


@media screen and (max-width:767px) {
      .top {
        display: block;  
        width: auto;
      }
      .top li{
        border-bottom:1px solid black ;
        border-right: none;
        }
  }